{% extends 'layouts/main.html' %}
{% block title %}plot{% endblock %}

{% block scripts %}
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
        rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ apogee_id }}</h1>
</div>

<p class="lead">
    <a href="https://dr14.sdss.org/infrared/spectrum/view/stars?apogee_id={{ star.apogee_id }}&location_id={{ star.location_id }}&commiss={{ star.commiss }}">
        Link to SDSS DR14 spectrum page
    </a>
</p>

<p>
    <ul>
        <li>[Fe/H] = {{ '{0:0.3f}'.format(star.fe_h) }}</li>
        <li>log<i>g</i> = {{ '{0:0.2f}'.format(star.logg) }}</li>
        <li>Teff = {{ '{0:0.0f}'.format(star.teff) }}K</li>
    </ul>
</p>

{{ bokeh_script|safe }}
{{ bokeh_div|safe }}

{% endblock %}
